<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034750484450-tp3n3epqub46r6labs1ob5nokae3rdrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034750484450-tp3n3epqub46r6labs1ob5nokae3rdrr</string>
	<key>API_KEY</key>
	<string>AIzaSyDwlfFLI2TwOZj3ZZhpSgBvsSmJCN8PQ3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1034750484450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sciproApplication</string>
	<key>PROJECT_ID</key>
	<string>scipro-362508</string>
	<key>STORAGE_BUCKET</key>
	<string>scipro-362508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034750484450:ios:7628d3187eb2b69a26e3bb</string>
</dict>
</plist>